@model IEnumerable<TaskMasterSovellus.Models.SprintTemplateConnection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sprints.SprintName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SprintTemplate.SprintTemplateName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sprints.SprintName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SprintTemplate.SprintTemplateName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TemplateConnectionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TemplateConnectionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TemplateConnectionId })
        </td>
    </tr>
}

</table>
