@model IEnumerable<TaskMasterSovellus.Models.Projects>

@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>


<div>
    <a href="@Url.Action("Create","Projects")" class="btn btn-success">Create new project</a>
    <hr>
</div>
@*card column of bootstrap*@
<div class="card-columns">

    @foreach (var item in Model)
    {

        <div class="card" style="color: white; background-color: #181f4f">
            <div class="card-body text-center">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.ProjectName)</h4>
                
                @Html.ActionLink("View sprints of project", "SprintsOfPrjekt", "SprintTaskList", new { id = item.ProjectId }, new { @class = "btn btn-outline-info" }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }, new { @class = "btn btn-outline-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId }, new { @class = "btn btn-outline-info" })
            </div>
        </div>
    }
    </div>



 

@*<p>
        @Html.ActionLink("Create New Project", "Create")
    </p>*@
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPicture)
            </th>*@
        @*<th>
            Admin name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.ProjectPicture)
                </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Users.GivenName)
                @Html.DisplayFor(modelItem => item.Users.Surname)
            </td>
            <td>
                @Html.ActionLink("View sprints of project", "SprintsOfPrjekt", "SprintTaskList", new { id = item.ProjectId }, null) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
            </td>
        </tr>
    }

</table>*@
