@model TaskMasterSovellus.Models.Tasks

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sprints.SprintName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sprints.SprintName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskState.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskState.StateName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <button type="submit" value="Delete" id=@Model.SprintId class="btn btn-primary" >Save</button>
     |
    <a href="@Url.Action("SprintTasksList","SprintTaskList",new {id=Model.SprintId })" class="btn btn-primary">Cancel</a>
</div>
    }
</div>
