<!DOCTYPE html>
<html>

<head  style="margin: 0;background-color:blueviolet">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>

<body style="padding-top:0; background-color:#BFEFFF">

    @*sript joka lisää actionlinkkeihin button classin contrastin  ja element erottamisen takia----ZK*@
    <script>
        $(document).ready(function () {

            //back to list buttonit
            $("a:contains('Create')").addClass("btn btn-primary");

            $("a:contains('Back')").addClass("btn btn-primary");
            //taulukkoon buttonit
            $("td>a").addClass("btn btn-outline-info");
            //submit formien buttonit
            $(":submit").removeClass("btn-default");
            $(":submit").addClass("btn-primary");

        });
    </script>


        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00688B">
            <a class="navbar-brand" href="~/Home/Index">Task Master v1.0</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <li class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">


                    @*------------------------------------------LOGIN-------------------------------------*@


                    @if (Session["UserName"] != null)
                    {

                        <li class="nav-item">
                            <a class="nav-link" style="color:deepskyblue;"> Welcome, @Session["UserName"] !</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Projects/Index">Projects</a>
                        </li>

                    }
                    <li class="nav-item">

                        @if (Session["UserName"] == null)
                        {
                            <a class="nav-link" style="color:chartreuse" href="~/home/Login">Login</a>

                        }
                        else
                        {
                            <a class="nav-link" style="color:chartreuse" href="~/home/Logout">Logout</a>
                        }
                    </li>
                </ul>





            </li>
        </nav>



        <div class="container-fluid body-content">
            @RenderBody()


        </div>

        <div style="clear:both">
            <footer>
                &copy; @DateTime.Now.Year - My ASP.NET Application
            </footer>
        </div>


        @RenderSection("scripts", required: false)
    </body>
</html>
