@model IEnumerable<TaskMasterSovellus.Models.ProjectConnection>

@{
    ViewBag.Title = "SprintsOfPrjekt";
}

    <h2>Project :@Model.First().Projects.ProjectName</h2>

<div>
    <a href="@Url.Action("Create","ProjectConnections",new { selectedProject = Session["CurrentProject"] },null)" class="btn btn-success">Add new sprint to project</a>

 </div>  
<table class="table">

        <th>
            @Html.DisplayNameFor(model => model.Sprints.SprintName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
   
            <td>
                @Html.DisplayFor(modelItem => item.Sprints.SprintName)
            </td>
            <td>
                @Html.ActionLink("view sprint tasks", "SprintTasksList", "SprintTaskList", new { id = item.SprintId }, null) |
                @Html.ActionLink("Edit", "Edit", "ProjectConnections", new { id = item.ProjectConnectionId }, null) |
                @Html.ActionLink("Delete", "Delete", "ProjectConnections", new { id = item.ProjectConnectionId }, null) |


            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to Projects","Index", "Projects")




    @*@Html.ActionLink("Back to Project List", "Index", "Projects")*@

</div>
