@model IEnumerable<TaskMasterSovellus.Models.ProjectConnection>

@{
    ViewBag.Title = "SprintsOfPrjekt";
}

<h2>SprintsOfPrjekt</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Projects.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sprints.SprintName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Projects.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sprints.SprintName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectConnectionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectConnectionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectConnectionId })
        </td>
    </tr>
}

</table>
