@model TaskMasterSovellus.Models.Sprints

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sprints</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SprintName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SprintName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colors.ColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colors.ColorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colors1.ColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colors1.ColorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Surname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SprintId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
